.menu{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    background-color: $color-bg-dark;
    color: $color-white;
    height: 7rem;
    .openSidebarBtn{
        display: none;
    }
    .navbar{
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: flex-end;
        width: 75vw;
        padding-left: 2rem;
        font-family: $font-titles;
        .topIcons{
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-end;
            align-items: center;
            gap: 1rem;
            margin-right: 4rem;
            svg{
                font-size: 2.5rem;
            }
        }
    }
}

@media (max-width: 1400px){
    .navbar {
        width: 70vw;
    }
}
@media (max-width: 1110px){
    .navbar {
        width: 65vw;
    }
}

@media (max-width: 980px){
    .navbar {
        width: 60vw;
    }
}
@media (max-width: 810px) {
    .menu{
        flex-direction: column;
        height: 12rem;
        .openSidebarBtn{
            display: block;
            border: none;
            background-color: transparent;
            cursor: pointer;
            svg {
                color: $color-white;
                font-size: 3rem;
            }
        }
        .navbar{
            width: 100%;
            padding: auto;
            .topIcons{
                margin-right: 0;
                &:last-child{
                    font-size: 1.7rem;
                }
            }
        }
    }
}