.logo{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-family: $font-titles;
    padding: 1rem 0rem;
    width: 25vw;
    svg{
        fill: $color-white;
        font-size: 2rem;
        margin-right: 1rem;
    }
}