.bgImage{
    position: absolute;
    top: 0;left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.authPageTitle{
        text-align: center;
        padding-bottom: 1rem;
} 
.authPageHeading{
    font-size: 1.2rem;
    text-align: center;
}
.authPageText{
    text-align: justify;
    padding-top: .5rem;
    font-size: .9rem;
    max-width: 75%;
    margin: auto;
}
.authPageMessage {
    text-align: center;
    padding: .5rem 0;
}