@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@500&family=Poppins:ital,wght@0,400;1,300&display=swap');

$font-titles: 'Alegreya Sans SC';
$font-primary: 'Poppins';

$font-regular: '400';
$font-thin: '300';
$font-medium: '500';
